extends ../layout

block content
  form(method='POST')
    input(type='text' name='name' placeholder='LastMinute')
    input(type='submit' value='Enregistrer')

  a(href="http://localhost:8080/teams/") Retour
